<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>INDEX</title>
	<style>
    html {
    background-color: beige;
    }
    body {
      max-width: 70ch;
      padding: 2ch;
      margin: auto;
    }
	</style>
</head>
<body>
<strong>a basic wiki of</strong>
<h1>(anything you choose)</h1>
<h3>New entry</h3>
<script type="text/javascript">
    function goToPage() {
        var page = document.getElementById('page').value;
        window.location = "http://localhost:8086/edit/" + page;
    }
</script>
<input type="text" id="page" />
<input type="submit" value="submit" onclick="goToPage();" />
<h2>Index</h2>
<!--p><button onclick="sortList()">sort</button> the list:</p-->
<ul id="id01">
{{ range .}}
	<li>    
		<a href="/view/{{.}}">{{.}}</a>
	</li>
{{ end }}
</ul>
<!--script>
    function sortList() {
        var list, i, switching, b, shouldSwitch;
        list = document.getElementById("id01");
        switching = true;
        while (switching) {
            switching = false;
            b = list.getElementsByTagName("LI");
            for (i = 0; i < (b.length - 1); i++) {
                shouldSwitch = false;
                if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                b[i].parentNode.insertBefore(b[i + 1], b[i]);
                switching = true;
            }
        }
    }
</script-->
</body>
</html>