<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VIEW</title>
	<style>
    html {
      background-color: beige;
    }
    body {
      max-width: 70ch;
      padding: 2ch;
      margin: auto;
    }
    pre {
      //font-size: 1pc;
      font-size: calc(11px + .4vw);
    }
	</style>
</head>
<body>
  <h1></h1>
  <h2>{{.Title}}</h2>
  <p>[<a href="/edit/{{.Title}}">edit</a>]
     [<a href="/">index</a>]</p>
  <div><pre>{{printf "%s" .Body}}</pre></div><br>
</body>
</html>
